<%- include('layout/header.ejs') , {udata:locals.udata} %>

<main class="promain pb-5">
    <section class="products pt-5 pt-sm-5 d-flex justify-content-center">
      <div class="container ">
          <div class="row p-4 p-sm-0">
            <div class="errorpage col-md-12 d-flex align-items-center flex-column">
                <div class="d-flex justify-content-center">
                  <img src="/public/images/Screenshot_error-01-26_173957-removebg-preview.png" alt="">
                </div>
                <br><br>
                <div class="errorrebtn"><a href="/">Back to Home Page</a></div>
            </div>
            
          </div>
      </div>
  </section>
  </main>

  <%- include('layout/footer.ejs')  %>