<%- include('layout/header.ejs') %>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href)
        }
    </script>

    <script>
            window.onload = function() {
                if(window.location.href){
                    if(window.location.href.split('?')[1] === 'msg=invalid'){
                        console.log('entered');
                        document.getElementById('err').innerHTML = 'User Blocked!!'
                        history.replaceState(null, null,'http://localhost:5000/login')
                    }
                }
            }
    </script>

    <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <div class="breadcrumb-title">
                    <h2>Login</h2>
                </div>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li><span> > </span></li>
                    <li class="active">Login</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login-register-area pt-10 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 offset-md-1">
                    <div class="login-register-wrap mr-70">
                        <h3><i class="fa fa-user-o"></i> Login</h3>
                        <div class="login-register-form">
                            <% if(locals.err){ %>
                                <p class="text-danger"><%= locals.err %></p>
                            <% } %>
                            <p id="err" class="text-danger"></p>
                            <form id="loginForm" action="/login" method="post">
                                <div class="sin-login-register">
                                    <label>Email address</label>
                                    <input type="text" name="email" id="email">
                                    <p class="error mb-2" id="error1" style="display: none; color: red;"></p>
                                </div>
                                <div class="sin-login-register">
                                    <label>Password</label>
                                    <input type="password" name="password" id="password">
                                    <p class="error mb-2" id="error2" style="display: none; color: red;"></p>
                                </div>
                                <div class="login-register-btn-remember">
                                    <div class="login-register-btn">
                                        <button type="submit">Log in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <a href="/forgotPassword">Forgot password?</a><br>
                        <br>
                        <a href="/register">Not a user yet? Register!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="/public/js/login.js"></script>

    <%- include('layout/footer.ejs') %>