<%- include('layout/header.ejs') %>

<div class="container col-4 login_wrap widget-taber-content p-30 background-white border-radius-5 mt-30">
    <div class="padding_eight_all bg-white">
        <div class="heading_s1">
            <h3 class="mb-30">Email Verification</h3>
        </div>

        <!-- Add your email verification modal content here -->

        <!-- Add OTP input field -->
        <div id="timer"></div>
        <form action="/verifyotp" method="post">
            <div class="form-group">
                <label for="otp">Enter OTP:</label>
                <input type="text" id="otp" name="otp" class="form-control" required>
            </div>
            <br>
            <!-- Add Verify Email button -->
            <button type="submit" class="btn btn-primary">Verify Email</button>

            <!-- Add Resend OTP option -->
            <div class="button" id="resend" style="display: none;">
                <a href="#">Resend OTP</a>
            </div>
            <br>
            <br>
            <% if (locals.message&&message.length>0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>
        </form>

        <div class="text-muted text-center pt-25">
            Already verified? <a href="/login">Login now</a>
        </div>
    </div>
</div>
<script>
    const timer = document.getElementById('timer')
    const resend = document.getElementById('resend')

    let seconds = 60;

    function timerStart(){
        timer.innerHTML = `00: ${seconds}`
        if(seconds > 0){
            seconds--
            setTimeout(timerStart,1000)
        }else{
            timer.innerHTML = ''
            resend.style.display = 'block'
        }
    }
    window.onload = () => {
        if(!localStorage.getItem('once')){
            timerStart() 
            localStorage.setItem('once',true)
        }   
    }

</script>
<%- include('layout/footer.ejs') %>