<%- include('layout/header.ejs') %>

<div class="container col-4 login_wrap widget-taber-content p-30 background-white border-radius-5 mt-30">
    <div class="padding_eight_all bg-white">
        <div class="heading_s1">
            <h3 class="mb-30">Email Verification</h3>
        </div>

        <!-- Add your email verification modal content here -->

        <!-- Add OTP input field -->
        <div id="timer" class="text-muted text-center pt-10"></div>
        <form action="/verifyotp" method="post">
            <div class="form-group">
                <label for="otp">Enter OTP:</label>
                <br>
                <input type="text" id="otp" name="otp" class="form-control" required>
            </div>
            <br>
            <!-- Add Verify Email button -->
            <button type="submit" class="btn btn-primary">Verify Email</button>
            <br>
            <!-- Add Resend OTP option -->
            <br>
            <div id="resend" style="display: none;">
                <a href="#" id="resendLink" >Resend OTP</a>
            </div>
            <br>
            <br>
            <% if (locals.message&&message.length>0) { %>
                <p class="text-danger">
                    <%= message %>
                </p>
                <% } %>
        </form>

        <div class="text-muted text-center pt-25">
            Already verified? <a href="/login">Login now</a>
        </div>
        <br>
        <br>
    </div>
</div>


<script src="/public/js/verifyOtp.js"></script>

<%- include('layout/footer.ejs') %>