<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/toro/toro/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:02 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shogun</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="public/assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="public/assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="public/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="public/assets/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="public/assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="public/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="public/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="public/assets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="public/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="public/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="public/assets/css/plugins/fullpage.css">
    <link rel="stylesheet" href="public/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="public/assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="public/assets/css/style.css">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/easyzoom/2.5.0/easyzoom.min.css" rel="stylesheet">
    <script src="https://unpkg.com/nice-invoice@1.1.4/dist/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        input[type="radio"] {
            outline: 2px solid rgb(255, 73, 73); /* Change the outline color and thickness */
        }
        .fa-solid, .fa-regular {
            color: #d94545;
            font-size: 35px;
            margin-right: 10px;
        }
    </style>
</head>

<body>

    <div class="main-wrapper">
        <header class="header-area section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo logo-width">
                            <a href="/">
                                <img src="/public/images/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 d-flex justify-content-center position-static">
                        <div class="main-menu menu-lh-1 main-menu-padding-1">
                            <nav>
                                <ul>
                                    <li class="position-static"><a href="/">Home <i class="fa"></i></a>
                                    <li><a href="/shop">Shop <i class="fa"></i></a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="header-right-wrap header-right-flex">
                            <div class="same-style">
                                <% if (locals.user) { %>
                                    <!-- Displayed when the user is logged in -->
                                    <li class="dropdown nav-item">
                                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                        <a class="dropdown-item" href="/myAccount">Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i> Logout</a>
                                      </div>
                                    </li>
                                  <% } else { %>
                                    <!-- Displayed when the user is not logged in -->
                                    <div class="single-mobile-header-info ml-25 pr-5">
                                      <a href="/login"><i class="fa fa-user"></i></a>
                                    </div>
                                  <% } %>
                            </div>
                            <div class="same-style header-wishlist">
                                <a href="/wishlist"><i class="far fa-heart"></i></a>
                            </div>
                            <div class="same-style cart-wrap">
                                <a href="/cart"><i class="dlicon shopping_bag-20"></i></a>
                            </div>
                            <div class="same-style header-search">
                                <a class="search-active" href="#">
                                    <i class="dlicon ui-1_zoom"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- mini cart start -->
        <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
                <div class="cart-content">
                </div>
            </div>
        </div>
        <div class="header-small-mobile section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="mobile-logo logo-width">
                            <a href="index.html">
                                <img alt="" src="/public/images/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mobile-header-right-wrap">
                            <div class="header-right-wrap header-right-flex">
                                <div class="same-style cart-wrap">
                                    <a href="/cart" class="cart-active">
                                        <i class="dlicon shopping_bag-20"></i>
                                    </a>
                                </div>
                                <div class="same-style header-off-canvas">
                                    <a class="header-aside-button" href="#">
                                        <i class="dlicon ui-3_menu-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        